<h2>Friends:</h2>

<div class="">
  {{#each myFriends}}
      <a role="button" href="/friends/{{this.id}}" class="a1 btn btn-primary btn-lg">{{this.username}}</a> <br>
      <span> Coins:{{this.coins}} Specialty:{{this.specialty}}</span> <br>
      <button onclick="deleteUser('{{this.id}}', '{{../user._id}}')">Delete</button><br>
  {{/each}}
  {{#if pendingReq}}
    {{#each pendingReq}}
      <li>{{this.username}} 
        <button onclick="laAccept('{{this.id}}', '{{../user._id}}')">Accept Request</button>
        <button onclick="laReject('{{this.id}}', '{{../user._id}}')">Decline Request</button>
      </li>
    {{/each}}
  {{/if }}
</div>
