<h2>Friends:</h2>

<div class="">
  {{#each myFriends}}
      <a role="button" href="/friends/{{this.id}}" class="a1 btn btn-primary btn-lg">{{this.username}}</a> <br>
      <span> Coins:{{this.coins}} Specialty:{{this.specialty}}</span> <br>
      <form action="/{{this.id}}/delete" method="post"> <button type="submit">DELETE FRIEND</button></form><br>
  {{/each}}
</div>