<h2>Extra info</h2>
<div>
  <p>Username: {{this.username}}</p>
  <p>Specialty: {{this.specialty}}</p>
  <p>Role: {{this.role}}</p>
  <p>Coins: {{this.coins}}</p>
</div>

<form action="/scout/{{this.id}}" method="post">
  <input type="text" name="friendReq" value="{{this.id}}">
  <button type="submit">Send Request!</button>
</form>

<form>
  <input type="button" value="Go back!" onclick="history.back()">
</form>
